body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
}
:root {
  --accent-color: #0070f3;
  --card-bg-color: #f0f0f0;
  --btn-hover: #1983ff;
}
.App {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.file-input {
  align-items: center;
  display: flex;
  border-radius: 5px;
  max-width: 400px;
  padding: 0.5em 1em;
  background-color: var(--card-bg-color);
}
.btn {
  font-weight: bold;
  background-color: var(--accent-color);
  padding: 0.5em;
  color: white;
  border-radius: 5px;
}
.btn-upload {
  align-items: center;
  border: 2px solid var(--accent-color);
  padding: 0.5em;
  color: #0070f3;
  border-radius: 5px;
}
.btn-group {
  width: 30%;
  font-size: 0.7rem;
  display: flex;

  justify-content: space-around;
}
.selected {
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
}
input::-webkit-file-upload-button {
  font-weight: 500;
  border: 2px solid var(--accent-color);
  padding: 0.5em;
  color: #0070f3;
  border-radius: 5px;
  cursor: pointer;
}
input::-webkit-file-upload-button:focus {
  outline: none;
}
.converted {
  padding: 1em;
  width: 45vw;
  min-height: 70vh;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  text-align: justify;
}

.converted > p {
  font-size: 0.9rem;
}

.loader {
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 70%;
  margin: 20vh auto;
  display: flex;
  justify-content: center;
}
.loader > div {
  margin: 0 0.25em;
}
.log {
  text-align: left;
  font-weight: 500;
  text-transform: capitalize;
}

.convert-container,
.answer-container {
  overflow: hidden;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.que-input {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 5px;
  padding: 0.5em 1em;
  background-color: var(--card-bg-color);
}

.que-input > input {
  background-color: transparent;
  width: 80%;
}
/* .que-input > input:focus {
  outline: none;
} */
input:focus {
  outline: none;
}
textarea {
  width: 100%;
  resize: none;
}
textarea:focus {
  outline: none;
  border: 1.5px solid var(--accent-color);
}

.answers {
  text-align: justify;
  padding: 0.25em 1em;
  min-height: 60px;
  border-radius: 5px;
  background-color: var(--card-bg-color);
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}

.ans-loader {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-weight: 500;
}
.ans-loader > p {
  margin: 0 1em;
}
.selected-lang {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8rem;
  margin: 0 1em;
  text-align: right;
  font-weight: 500;
}

.selected-lang span {
  font-weight: bold;
}
